In [1]:
a = "Muskan"
print(type(a))

<class 'str'>

In [2]:
b =["muskan",200,654,79,True]
print(type(b))

<class 'list'>

In [3]:
c = 4.55
print(type(c))

<class 'float'>

In [4]:
d = ("muskan", 200,64)
print(type(d))

<class 'tuple'>

In [5]:
e = 45+3j
print(type(e))

<class 'complex'>

In [6]:
var1 = ""
print(type(var1))

<class 'str'>

In [7]:
var2 = "[ DS , ML , Python]"
print(type(var2))

<class 'str'>

In [8]:
var3 = ["DS","ML","PYTHON"]
print(type(var3))

<class 'list'>

In [9]:
var4= 1
print(type(var4))

<class 'int'>

## Using different types of operators

In [10]:
4/5
#used for float division

0.8

In [11]:
45%4
# gives remainder

1

In [12]:
45//4
##used for integer division

11

In [13]:
6**2
##used for exponentiation.

36

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [14]:
list1 = ["muskan", "python",45,4.55,63+3j,"skills","hello",96,3+2j,16]

In [15]:
for i in list1:
    print(i)
    print(type(i))

muskan
<class 'str'>
python
<class 'str'>
45
<class 'int'>
4.55
<class 'float'>
(63+3j)
<class 'complex'>
skills
<class 'str'>
hello
<class 'str'>
96
<class 'int'>
(3+2j)
<class 'complex'>
16
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [32]:
A = int(input("Input values of A: "))
B = int(input("Input values of B: "))
i= 0 
while A % B == 0:
     A = A / B
     i += 1 
    
if i == 0 :
    print(" A is not divisible by B")
else:
    print(f"A is divisible by B : {i} times")

Input values of A: 435
Input values of B: 5
A is divisible by B : 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
list2 = [24,2,4,6,2,5,64,13,23,54,64,53,23,34,6,3,6,321,32,76,53,75,87,97,4]

In [18]:
for i in list2:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else: 
        print(f"{i} is not divisible by 3")

24 is divisible by 3
2 is not divisible by 3
4 is not divisible by 3
6 is divisible by 3
2 is not divisible by 3
5 is not divisible by 3
64 is not divisible by 3
13 is not divisible by 3
23 is not divisible by 3
54 is divisible by 3
64 is not divisible by 3
53 is not divisible by 3
23 is not divisible by 3
34 is not divisible by 3
6 is divisible by 3
3 is divisible by 3
6 is divisible by 3
321 is divisible by 3
32 is not divisible by 3
76 is not divisible by 3
53 is not divisible by 3
75 is divisible by 3
87 is divisible by 3
97 is not divisible by 3
4 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable = Mutable data types are those whose values can be changed after they are created.
          example,lists and dictionaries in Python are mutable data types.
      
Immutable = Immutable data types are those whose values cannot be changed after they are created. For             example, strings and tuples in Python are immutable data types.

## Examples of Mutable Data types

In [19]:
list = ["muskan",54,23,43.63,67,"skills","yes",True]
list[4]

67

In [20]:
list[4] = "hello"

In [21]:
list

['muskan', 54, 23, 43.63, 'hello', 'skills', 'yes', True]

In [22]:
dict = {"true":1,"false":2}

In [23]:
dict["false"] = 0

In [24]:
dict

{'true': 1, 'false': 0}

## Examples of Immutable Data types

In [25]:
tup = "muskan",54,23,43.63,67,"skills","yes",True

In [26]:
type(tup)

tuple

In [27]:
tup[0]

'muskan'

In [28]:
tup[0] = "no"
## we cannot change the values in tuples and strings

TypeError: 'tuple' object does not support item assignment